/* Contributors: Po Wei Tsao (pt5rsx), Qasim Qasim (qq4fd) */

body {
    background-color: #f3f7fe;
    /* background-color:black; */
}

.container{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 200px;
}

.form-group{
    width:90%;
}

.login-button{
    padding:10px;
}

.signup-button{
    padding:10px;
}

.signup-msg{
    padding: 10px;
    font-size: 1em;
    color: black;
    width: 400px;
    display:flex;
    justify-content: center;
}

.feedback{
    padding: 10px;
    font-size: 1em;
    color: red;
    width: 100%;
    display:flex;
    justify-content: center;
}

form{
    padding: 10px;
    padding-top: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}