body {
    background-color: #f3f7fe;
}

.container{
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-group{
    width:90%;
}

.submit-button{
    padding:10px;
}

.feedback{
    padding: 10px;
    font-size: 1em;
    color: red;
    width: 100%;
    display:flex;
    justify-content: center;
}

form{
    padding: 10px;
    padding-top: 50px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}