.head-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .head-wrap > div {
    display: flex;
  }
  .head-wrap > div > * {
    margin-left: 4px;
    margin-right: 4px;
  }
  
  
  .head-content {
    text-align: center;
  }
  
  .head-content-wrapper {
    text-align: center;
    display: flex;
  }
  
  .head-content-wrapper > * {
    margin-left: 4px;
    margin-right: 4px;
  }
  
  .head-settings {
    align-items: flex-end;
  }
  
  
  
  /* Main Content Styles */
  .main-content-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: dense;
    gap: 120px;
  }
  
  .main-content-body > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-content-body > div:nth-child(6n + 4) {grid-column: 3}
  .main-content-body > div:nth-child(6n + 5) {grid-column: 2}
  
  
  .main-content-body > div > div {
    border: 2px solid black;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  
  .main-content {
    display: flex;
  }
  
  .main-content .main-content-body {
    flex-grow: 1;
  }
  
  .main-content .main-content-card {
    width: 33%;
    border: 2px solid black;
  }
  
  
  
  .main-content-card {
    display: flex;
    flex-direction: column;
    
  }
  
  .main-content-card > div {
    display: flex;
    justify-content: space-between;
  }
  
  .main-content-card > div > * {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  
  
  .main-content-card > * {
    width: 100%;
  }
  .main-content-card > textarea {
    flex-grow: 1;
  }
  
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
  .main-wrapper .main-content {
    flex-grow: 1;
  }

  .text-center-button {
    margin-left: 29.5%;
  }
  
  
  /* Popup modal */
  .popup-modal {
    position: fixed;
    left: 50%;
    top: 70%;
    margin-right: 25%;
    transform: translate(-50%, -50%);
    min-height: max-content;
    min-width: max-content;
    justify-content: center;
  
    border: 3px solid black;
  }
  .hidden {
    display: none;
  }